C 0 0 "ANODE__CATHODE" 0 0 0 0 60 0 L
X "PIN_TEXT" "ANODE__CATHODE" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "CATHODE__ANODE" 0 -100 0 0 60 0 L
X "PIN_TEXT" "CATHODE__ANODE" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 1900 0 "COLLECTOR" 1900 0 0 0 60 0 R
X "PIN_TEXT" "COLLECTOR" 1670 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 0 1900 0 -1 0
C 1900 -100 "EMITTER" 1900 -100 0 0 60 0 R
X "PIN_TEXT" "EMITTER" 1670 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1700 -100 1900 -100 -1 0
L 200 100 1700 100 -1 0
L 1700 -200 1700 100 -1 0
L 1700 -200 200 -200 -1 0
L 200 100 200 -200 -1 0
P "$LOCATION" "?" 1750 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

